<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642295110798-no12tcvsc4efoegim7343t9a8rlt9vo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642295110798-no12tcvsc4efoegim7343t9a8rlt9vo8</string>
	<key>API_KEY</key>
	<string>AIzaSyAAWRRj-HQoBHuMWjKCh0dUWnxpoJRFZiM</string>
	<key>GCM_SENDER_ID</key>
	<string>642295110798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aereor.app</string>
	<key>PROJECT_ID</key>
	<string>aereor-5304f</string>
	<key>STORAGE_BUCKET</key>
	<string>aereor-5304f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642295110798:ios:5ae9c01e55d1b68a237ddf</string>
</dict>
</plist>